@import "common.scss";

.demo {
  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px;

  .dnd {
    width: 100%;
    position: relative;
  }

  .dnd-bd {
    border: 1px dashed #ccc;
    padding: 10px;
  }


  .uploader-list {
    width: 100%;
  }

  .tips {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    color: #ccc;
    height: 80px;
    line-height: 80px;
    text-align: center;
  }

  .item {
    width: auto;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px dotted #efefef;
    padding: 5px;
  }

  .delete {
    color: orangered;
    margin-right: 10px;
    font-size: .8rem;
    cursor: pointer;
  }

  .info {
    font-weight: 600;
    margin-right: 20px;
    width: 40%;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .state {
    color: #bbb;
    width: 25%;
    display: inline-block;
  }

  .success {
    color: limegreen;
  }

  .error {
    color: orangered;
  }

  .progress {
    width: 30%;
    height: 20px;
    display: inline-block;
    border: 1px solid #ccc;
  }

  .progress-bar {
    display: block;
    height: 100%;
    background-color: mediumseagreen;
  }

  .bar-error {
    background-color: orangered;
  }


  .status-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // 末尾
  .process {
    width: 30%;
    height: 20px;
    line-height: 20px;
    border: 1px solid mediumseagreen;
    position: relative;
    border-radius: 3px;
  }

  .process-bar {
    display: block;
    width: 10%;
    background-color: mediumseagreen;
    height: 100%;
  }

  .process-text {
    position: absolute;
    color: green;
    top: 0;
    right: 0;
    font-size: .8rem;
    padding-right: 10px;
  }

  .btns {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  .btn-upload {
    width: 94px;
    height: 41px;
    margin-left: 20px;
    background-color: mediumseagreen;
    color: #fff;
    border-radius: 3px;
    font-size: inherit;
  }

  .process-hide {
    .btns {
      width: 100%;
      justify-content: center;
    }

    .process {
      display: none;
    }
  }
}

