<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta charset="UTF-8">
    <title>Vue组件测试</title>
</head>
<body>
<div id="multiCheckApp">
    <multi-check-list label="多选测试1" :options="multiCheckOptions1" v-model="checkedVal1"></multi-check-list>
    <multi-check-list label="多选测试2" :options="multiCheckOptions2" v-model="checkedVal2" :showbox="false"></multi-check-list>
    <multi-check-list label="多选测试3(全部禁用)" :options="multiCheckOptions3" :checked="checkedVal3" :disabled="true"></multi-check-list>
</div>
</body>
<script src="js/compTest.js"></script>
</html>
